.navbar {
  /* background-color: #222 !important; */
  /* border-bottom: 1px solid #343a40; */
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.navbar-brand {
  color: abffff !important;
  font-size: 1.8em !important;
  font-weight: 800;
}

.nav-link {
  color: #010a35 !important;
  text-align: center;
  font-size: 14px !important;
  font-weight: 700;
  padding-right: 20px !important;
  padding-left: 0px !important;
}

.menu-item {
  font-size: 14px;
  color: #010a35;
  padding-right: 20px;
  font-weight: 700;
}

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
  color: #ffbb00 !important;
}

a:active {
  text-decoration: none !important;
}

.nav-link:active {
  color: #ffbb00 !important;
}

.nav-link:hover {
  color: #ffbb00 !important;
}

.navbar-collapse {
  align-items: flex-end !important;
}

.navbar-toggler {
  border-color: #fb6542 !important;
}

.navbar-toggler-icon {
  background-image: url(../../images/barmenu.svg) !important;
}

.mr-auto {
  justify-content: left !important;
  align-items: center !important;
  width: 100% !important;
  margin-left: 55px;
}

@media screen and (max-width: 480px) {
  .navbar {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .nav-link {
    font-size: 14px !important;
    padding: 0px;
  }
  .navbar-brand {
    font-size: 1.5em !important;
    font-weight: 600;
  }
}
