.footer {
  height: 62px;
  /* border-top: 2px solid #404040; */
  padding-top: 10px;
  max-width: 270px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}
